package domain

import (
	"time"
	"github.com/google/uuid"
)

type {{.FieldsType}} struct {
}

type {{.Module}} struct {
	UID uuid.UUID
	{{.FieldsType}}
	CreatedAt time.Time
	CreatedBy uuid.UUID
	UpdatedAt time.Time
	UpdatedBy uuid.UUID
	DeletedAt *time.Time
	DeletedBy *uuid.UUID
}

type {{.Module}}Filters struct {
	UID uuid.UUID
	{{.FieldsType}}
	CreatedAt time.Time
	CreatedBy uuid.UUID
	UpdatedAt time.Time
	UpdatedBy uuid.UUID
	DeletedAt *time.Time
	DeletedBy *uuid.UUID
}

